.menu {
  color: white;
}

.menu ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.menu li {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* MobileMenu.css */
.mobile-menu {
  position: relative;
  display: none;
  z-index: 10;
}

.menu-toggle {
  display: block;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu-items {
  display: none;
  list-style: none;
  padding: 0;
  background-color: #333;
  position: absolute;
}

.mobile-menu.open .menu-items {
  display: block;
}

.menu-items li {
  padding: 10px 20px;
  color: #fff;
}

/*MOBILE CSS */

@media (max-width: 768px) {
  /* Apply responsive styles here */
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
